includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    # containerXmlPath ajouté en Phase 1 quand on aura des entités et des services configurés
    # symfony:
    #     containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    # doctrine:
    #     objectManagerLoader: tests/doctrine-object-manager-loader.php
    ignoreErrors: []
