includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 9
    treatPhpDocTypesAsCertain: false
    phpVersion: 80500
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    # containerXmlPath et objectManagerLoader seront activés en Phase 1
    # symfony:
    #     containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    # doctrine:
    #     objectManagerLoader: tests/doctrine-object-manager-loader.php
